.detailContent{
    position: relative;
    width: 1200px;
    margin: 40px auto 0;
    padding: 40px;
    box-sizing: border-box;
    min-height: 240px;
    box-shadow: 0 0 20px rgba(212, 222, 236,0.3);
    background-color: #fff;
    border-radius: 16px;
}

.detailLabel{
    border-left: 4px solid #EF8C21;
    padding-left: 16px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    color: #24375E;
}
.container{
    box-sizing: border-box;
    width: 1000px;
    max-width: 100%;
    min-height: 100%;
    padding: 30px 20px;
    overflow: hidden;
    background-color: #fff;
    line-height: .2rem;
    p{
        white-space: pre-wrap;
        min-height: 1em;
    }
}