@import "../../../styles/index";

.account {
  padding: .3rem .38rem;
  height: 100%;
  .flex-column;

  .item-power{
    display: flex;
    .item-d{
      display: flex;
      font-size: 16px;
    }
    .item-left{
     margin-left: 50px;
    }
  }
  .item-t{
    justify-content: space-between;
    margin-top: 20px;
  }
  .item {
    //color: @sub-font-color;
    color: #575C62;
    .flex-row-between;
    align-items: center;
    font-size: .16rem;
    height: 0.8rem;
    border-bottom: 1px solid #ddd;
    padding: 0 32px;

    & > div{
      &:first-child {
        width: 1.4rem;
      }

      &:nth-child(2) {
        flex: 1;
      }
    }

    & span > span {
        color: @primary-color;
        font-weight: bold;
    }
  }

  &-title {
    .flex-row-start;
    font-size: .14rem;
    & > div {
      &:first-child {
        color: @sub-font-color;
        cursor: pointer;
      }
    }

    .line {
      background: #EAF2F9;
      margin: 0 .14rem;
    }
  }

  .form {
    width: 3rem;
    margin: .22rem auto;
  }

  .step {
    padding: .2rem .04rem;
    .flex-column-between;
    flex: 1;
    color: @sub-font-color;
    font-size: .12rem;

    .info {
      border: #DBE2E9 1px solid;
      border-radius: .11rem;
      background-color: #FAFBFC;
      padding: .15rem .4rem;
      font-size: .11rem;
      line-height: .18rem;
    }

    .reset-ant;
  }
}

.reset-ant {
  .ant-radio-wrapper {
    color: @sub-font-color;
    font-size: .12rem;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: @primary-color;
    font-weight: normal;
  }
  .ant-steps-item-title {
    font-size: .12rem;
    color: @sub-font-color;
  }
}
